**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [36]:
import sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [63]:
lista = [x**2 for x in range(1,21)]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [12]:
lista2=[x**0.5 for x in range (1,100)]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [28]:
my_list=[]
for i in range(0,11):
    my_list.append(-i)
my_list

my_list=[-i for i in range(0,11)]
my_list

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [35]:
milista=[]
for e in range(1,101):
    if e %2 != 0:   
        milista.append(e)
milista=[e for e in range(1,101) if e %2 != 0 ]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [42]:
milista2=[e for e in range(1,1001) if e/7 %2==0]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [53]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

def nonvocal(letras):
    vocales =('a','e','i','o','u')
    return letras not in vocales

filter(nonvocal,teststring)

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [58]:
frase ='The Quick Brown Fox Jumped Over The Lazy Dog'

upper='TQBFJOTD'


def mayuscula(letras):
    if letras in upper:
        return letras

list(filter(mayuscula,frase))

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [61]:
frase2= 'The quick brown fox jumped over the lazy dog'

def nonvocal(letras):
    vocales =('a','e','i','o','u')
    return letras not in vocales

list(filter(nonvocal,frase2)

# Find the folders you have in your ironhack local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [64]:
import os

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [72]:
a, b, c = [i for i in range(2)], [i for i in range(5)], [i for i in range(7)]

In [75]:
c

[0, 1, 2, 3, 4, 5, 6]

In [81]:
import random

lista1=[random.randint(1, 101) for _ in range(10)]
lista2=[random.randint(1, 101) for _ in range(10)]
lista3=[random.randint(1, 101) for _ in range(10)]
lista4=[random.randint(1, 101) for _ in range(10)]

random_lists=[[lista1],[lista2],[lista3],[lista4]]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [92]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

flatten_list=[numero for lista in list_of_lists for numero in lista]

flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [101]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

floats=[float(numero)for lista in list_of_lists for numero in lista]

# Handle the exception thrown by the code below by using try and except blocks.

In [113]:
for i in ['a','b','c']:
   
    try:
         print i**2
    except SyntaxError as e:
        print('estoy aqui', e)
        print(f)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2071992754.py, line 4)

In [117]:
try:
    for i in ['a','b','c']:
        print i**2

except SyntaxError as e:
    print('estoy aqui', e)
    
#No se puede corregir ese error

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3827765500.py, line 3)

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [122]:
try:
    x = 5
    y = 0

    z = x/y
except ZeroDivisionError as z:
    print('Error',z)
finally:
    print ('all done')

Error division by zero
all done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [123]:
try:
    abc=[10,20,20]
    print(abc[3])

except IndexError as i:
    print('error', )

error

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [138]:
a=float(input('Ingresa numero mayor a 10'))
b=float(input('Ingresa numero menor a 10'))

try:
    c=a/b #typerror
    d=a/b #zerodivision
except TypeError as t:
    print('Favor ingresa un numero no una letra',t)
except ZeroDivisionError as z:
    print('Error',z)

Error float division by zero

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [144]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError as F:
    print('No esta bien el path',F)

No esta bien el path [Errno 2] No such file or directory: 'testfile'

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [141]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

#No se puede corregir

IndentationError: unexpected indent (1269636024.py, line 2)

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [151]:
import sys
try:
    def linux_interaction():
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
        linux_interaction()

except AssertionError as A:
    print('No tenes linux',A)


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [6]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))

Enter Total Marks Scored: ass

ValueError: invalid literal for int() with base 10: 'ass'