**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [ ]:
import os


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [1]:
square = []
for x in range(1,21):
    x = x ** 2
    square.append(x)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [5]:
sqrt = []
for x in range (1,101):
    x = x ** 0.5
    sqrt.append(x)
    
print(sqrt[:10])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]

In [7]:
import math
sqrt2 = []
for x in range (1,101):
    sqrt2.append(math.sqrt(x))
    
print(sqrt2[:10])

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [10]:
my_list = []
for x in range (-10, 1):
    my_list.append(x)
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [17]:
odds = []
for x in range (1, 101):
    if x%2:
        odds.append(x)
    else:
        continue
    
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [22]:
divisble_by_seven = []
for x in range  (1,1001):
    if x%7 == 0:
        divisble_by_seven.append(x)
    else:
        continue
print(divisble_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [23]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [30]:
non_vowels = []
vowels = "aeiou"
non_vowels = []
for x in teststring:
    if x not in vowels:
        non_vowels.append(x)
    else:
        continue
print(non_vowels)

['F', 'n', 'd', ' ', 'l', 'l', ' ', 'f', ' ', 't', 'h', ' ', 'w', 'r', 'd', 's', ' ', 'n', ' ', ' ', 's', 't', 'r', 'n', 'g', ' ', 't', 'h', 't', ' ', 'r', ' ', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

In [31]:
non_vowels = "".join(non_vowels)
print(non_vowels)

Fnd ll f th wrds n  strng tht r mnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [40]:
sentence = "The Quick Brown Fox Jumped Over The Lazy Dog"
capital_letters = []
for x in sentence:
    if x.isupper() and not x.isspace():
        capital_letters.append(x)
        
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [45]:
sentence = "The quick brown fox jumped over the lazy dog"
vowels = "aeiou"
consonants = []
for x in sentence:
    if x not in vowels:
        consonants.append(x)
    else:
        continue
consonants = "".join(consonants)
print(consonants)

Th qck brwn fx jmpd vr th lzy dg

In [48]:
consonants = ["".join (x for x in sentence if x not in vowels)]
print(consonants)

['Th qck brwn fx jmpd vr th lzy dg']

# Find the folders you have in your ironhack local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [50]:
import os

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [ ]:
import random

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [65]:
from functools import reduce

In [66]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [74]:
flatten_list = list(reduce(lambda a,b: a+b, list_of_lists))
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [75]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [76]:
floats = []
for peque in list_of_lists:  
    for num in peque:
        floats.append(float(num)) 

print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [4]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3439384179.py, line 2)

In [88]:
for i in ['a','b','c']:
    try:
        square = i**2
        print(square)
    except ValueError:
        print("it is not possible to square this")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [5]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [82]:
x = 5
y = 0

try:
    z = x / y

except ZeroDivisionError as e:
    print(f"Error: {e}")

finally:
    print('All Done')

Error: division by zero
All Done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [6]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [83]:
abc = [10, 20, 30]

try:
    print(abc[3])

except IndexError as e:
    print(f"Error: {e}")

Error: list index out of range

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [7]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [85]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (1269636024.py, line 2)

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [86]:
import sys

In [87]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

SyntaxError: invalid syntax (2637371040.py, line 5)


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))